<h1>ここはユーザ一覧画面です</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">username</th>
      <th scope="col">email</th>
      <th scope="col">create_at</th>
      <th scope="col">update_at</th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>
