<h1>ここはログインユーザー画面です</h1>
<p>devise について理解できてきましたか？</p>

<p><strong>current_user data</strong></p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">column</th>
      <th scope="col">value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">id</th><td><%= current_user.id %></td>
    </tr>
    <tr>
      <th scope="row">username</th><td><%#= current_user.username %></td>
    </tr>
    <tr>
      <th scope="row">email</th><td><%= current_user.email %></td>
    </tr>
    <tr>
      <th scope="row">create_at</th><td><%= current_user.create_at %></td>
    </tr>
    <tr>
      <th scope="row">update_at</th><td><%= current_user.update_at %></td>
    </tr>
  </tbody>
</table>
