<% if user_signed_in? %>
  <p>
    <%= link_to "アカウント編集", edit_user_registration_path, class: "btn btn-primary"%>
    <%= link_to "ログアウト", destroy_user_session_path, method: "delete", class: "btn btn-primary"%>
  </p>
<% else %>
  <p>
    <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary" %>
    <%= link_to "アカウント作成", new_user_registration_path, class: "btn btn-primary" %>
  </p>
<% end %>