<!DOCTYPE html>
<html>
  <head>
    <title>DeviseLearning</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <%#= render 'layouts/session' %>
      <%#= render 'layouts/flash' %>
      <div class="costom-top">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
